<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SignalPath" value="C:\Users\vuha\Documents\Logs\"/>
    <add key="SleepSeconds" value="10"/>
    <add key="ContractLog" value="C:\Users\vuha\Documents\Logs\ContractLog.txt"/>
    <add key="ApplicationLogFolder" value="C:\Users\vuha\Documents\Logs\ApplicationLog\"/>


    <add key="MaxTradesPerDay" value="10"/>
    
    <add key="Notification" value="Y"/>
    <!--Contracts that are allowed for trade-->
    <add key ="AllowedContractList" value="ESZ9"/>


    <!--Notification-->
    <add key="FromEmail" value="havu.amisignal@gmail.com"/>
    <add key ="FromEmailPassword" value="bongtube321"/>
    <add key="ToEmail" value="ha_vu@kindermorgan.com"/>


     
    <add key="StartTradingHour" value="1:00:00"/>
    <add key="EndTradingHour" value="23:59:00"/>


    <!--Stop Monitor attributes
    Values are in minutes
    --> 
    <add key="signalTimeDisappearFor" value="2"/>
    <add key="StopMonitorSignalDisappearAfter" value="15"/>
    
    
    
    <!--DelayTolerance in minutes 
    This is the delay between the signal and current time-->
    <add key="DelayTolerance" value="10"/>
    
    
    <!--Sometimes there is a signal but it disaapears later, because the change percentage changes over time
    To be sure, wait 15 seconds until the signal fully forms.
    -->
    <add key="DelaySecondUntillSignalValid" value="60"/>
    
    <!--MODE: TEST, PROD-->
    <add key="Mode" value="PROD"/>



    <add key="TEST_DB" value="Data Source=DESKTOP-VS6PI85;Initial Catalog=TradeSystem-DEV;Integrated Security=SSPI;"/>
    <add key="PROD_DB" value="Data Source=DESKTOP-VS6PI85;Initial Catalog=TradeSystem;Integrated Security=SSPI;"/>
  </appSettings>
  
</configuration>